.wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}

.opt__verification{
   text-align: center;
}

.opt__verification .img{
    width: 300px;
}

.opt_input input{
    width: 42px;
    height: 57px;
    margin: 10px;
    padding: 10px 12px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #9AC8EB; /* Bordure de l'input */
    border-radius: 4px; /* Arrondir les coins */
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.opt__verification button{
    max-width: 437px;
}