.register__wrapper{
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: space-around;
}

.register__wrapper div{
    width: 50%;
}

.input_group{
    display: flex;
    gap: 10px;
}

.form__container .form{
    width: 472px;
    justify-content: space-around;
    min-height: 401px;
}

.form .items{
    bottom: 20px;

}


